<div class="home-page">
    <h1>Welcome to Only Buns</h1>
    
    <nav class="dashboard-menu">
      <ul>
        <li><a routerLink="/posts/followed" routerLinkActive="active-link">Followed Users' Posts</a></li>
        <li><a routerLink="/trends" routerLinkActive="active-link">Trends and Analytics</a></li>
        <li><a routerLink="/map" routerLinkActive="active-link">Nearby Posts on Map</a></li>
        <li><a routerLink="/chat" routerLinkActive="active-link">Chat with Users</a></li>
        <li><a routerLink="/profile" routerLinkActive="active-link">User Profile</a></li>
      </ul>
    </nav>
  </div>
  