<div *ngIf="post">
  <h2>{{ post.description }}</h2>
  <div class="image-wrapper">
    <img [src]="'http://localhost:3000' + post.image" alt="Post Image" class="image-wrapper" />
  </div>

  <!-- Likes and Comments Section -->
  <div>
    <button (click)="toggleLike()">
      {{ liked ? 'Dislike' : 'Like' }}
    </button>
    <span>{{ post?.likesCount || 0 }} likes</span>
  </div>

  <!-- Show the map only if latitude and longitude are defined -->
  <app-user-location-map *ngIf="latitude && longitude" 
                         [latitude]="latitude" 
                         [longitude]="longitude">
  </app-user-location-map>

  <!-- Edit and Delete buttons for post creator -->
  <div *ngIf="userId === post.userId">
    <button (click)="editPost()">Edit</button>
    <button (click)="deletePost()">Delete</button>
  </div>

  <div>
    <h3>Comments</h3>
    <div *ngFor="let comment of post.comments">
      <p><strong>{{ userNames[comment.userId] || 'Anonymous' }}</strong>: {{ comment.content }}</p>
    </div>

    <textarea #commentContent placeholder="Add a comment"></textarea>
    <button (click)="addComment(commentContent.value)">Comment</button>
  </div>
</div>
