<form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <label for="description">Description</label>
    <input type="text" id="description" [(ngModel)]="postDescription" name="description" required />
  
    <div>
      <label for="image">Select an image:</label>
      <input type="file" id="image" (change)="onImageSelect($event)" accept="image/*">
    </div>
    
    <!-- Display image preview -->
    <div *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Preview Image" class="image-preview" />
    </div>

    <div *ngIf="createdPostImageUrl">
      <h3>Post Created Successfully!</h3>
      <p>Your image:</p>
      <img [src]="createdPostImageUrl" alt="Created Post Image" class="created-image" />
    </div>
  
    <label for="latitude">Latitude</label>
    <input type="number" id="latitude" [(ngModel)]="latitude" name="latitude" required />
  
    <label for="longitude">Longitude</label>
    <input type="number" id="longitude" [(ngModel)]="longitude" name="longitude" required />
  
    <button type="submit" [disabled]="postForm.invalid">Create Post</button>
  </form>
  